@model IEnumerable<Clase12.Models.Movie>
@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ListaMovies</h2>
<p>
    @Html.ActionLink("Create new", "Create")
</p>
<table class="table table-bordered table-hover">
<thead>
    <tr>
        <th>Movies</th>

    </tr>
</thead>

<tbody>
    @foreach (var movie in Model)
    {
        <tr>
            <td>@movie.Nombre</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = movie.ID }) |
                @Html.ActionLink("Delete", "Borrar", new { id = movie.ID })

            </td>
        </tr>
    }
</tbody>
</table>


